.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 25px;
}

.header-text {
    margin-right:20px;
    text-decoration: none;
    font-size:24px;
    font-weight:700;
}